{%load static%}
{% load payment_tags %}
<form action='{% url "payment:payment" cart_id %}' method='POST'>
    {% csrf_token %}
    <fieldset class='payment-form-fieldset'>
        <legend class="title is-5">Datos Personales</legend>
        <div class="field is-grouped">
            <div class="control">
                <label class="label contact-label label-input-required">Nombre</label>
                <input class="input" type="text" name='name' placeholder="Nombre" maxlength='50' required>
            </div>
            <div class="control">
                <label class="label contact-label label-input-required">Apellido</label>
                <input class="input" type="text" name='surname' placeholder="Apellido" maxlength='50' required>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <label class="label contact-label label-input-required">E-mail</label>
                <input class="input valid-input" type="email" name="email" placeholder="ejemplo@ejemplo.com" maxlength='50' required>
            </div>
            <div class="control">
                <label class="label contact-label">Teléfono</label>
                <input class="input valid-input" type="tel" name='tel' placeholder="34215111111" pattern='^\d{1,20}$'>
            </div>
        </div>
    </fieldset>
    <fieldset class='payment-form-fieldset'>
        <legend class="title is-5">Datos de Envío</legend>
        <div class="field is-grouped">
            <div class="control">
                <label class="label label-input-required">Ciudad</label>
                <input class="input" type="text" name='city' placeholder="Santa Fe" maxlength='50' required>
            </div>
            <div class="control">
                <label class="label">Provincia</label>
                {% select_province %}
            </div>
            <div class="control">
                <label class="label">País</label>
                <input class="input" type="text" name='country' value="Argentina" disabled>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <label class="label contact-label label-input-required">Calle</label>
                <input class="input" type="text" name='street' placeholder="Calle" maxlength='50' required>
            </div>
            <div class="control">
                <label class="label contact-label label-input-required">Número</label>
                <input class="input" type="text" name='number' placeholder="1234" maxlength='5' required pattern='^\d{1,5}$'>
            </div>
            <div class="control">
                <label class="label">Piso/Depto</label>
                <input class="input" type="text" name='depto' placeholder="Piso/Depto" maxlength='5'>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control payment-comment">
                <label class="label">Observaciones</label>
                <textarea class="textarea" name='comment' placeholder=""></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset class='payment-form-fieldset'>
        <legend class="title is-5">Medios de Pago</legend>
        <div class="control payment-form-methods">
            <input id='mercadopago' type="radio" name="payment-method" value='mercadopago' hidden required checked>
            <label class="radio" for='mercadopago'> 
                <figure class="image is-64x64">
                    <img src="{% static 'images/logo_mercadopago.png' %}">
                </figure>
            </label>
            <input id='transferencia' type="radio" name="payment-method" value='transferencia' hidden>
            <label class="radio" for='transferencia'>
                <span class="icon">
                    <i class="fas fa-landmark"></i>
                </span>
                Transferencia
            </label>
            <input id='efectivo' type="radio" name="payment-method" value="efectivo" hidden>
            <label class="radio" for='efectivo'>
                <span class="icon">
                    <i class="fas fa-dollar-sign"></i>
                </span> Efectivo
              </label>
          </div>
        
    </fieldset>
    <div class="payment-buttons">
        <button type='submit' class='button is-success is-medium payment-form-btn'>Pagar</button>
        <a href='{%url "frontend:frontend" %}' class='button is-danger is-medium payment-form-btn'>Cancelar</a>
    </div>
</form>