.header-main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header-contact {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    height: 20vh;
    min-height: 100px;
    padding: 0.5rem 0;
}

.header-logo {
    height: 100%;
}

.header-title {
    font-size: 5vmin;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color-8);
}

.header-menu__item, .header-menu__link {
    display: inline-block;
    width: 100%;
}

.header-menu__link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header-menu__link:hover {
    color: black;
    background-color: var(--primary-color);
}

.header-menu--mobile {
    display: none;
}


@media screen and (max-width: 600px){
    .header-menu--mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--primary-color-8);
        color: white;
    }

    .header-menu--mobile:hover {
        color: black;
        background-color: var(--primary-color);
        cursor: pointer;
        font-weight: bold;
    }

    .header-menu__title {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    /* .header-menu {
        flex-direction: column;
        max-height: 0px;
        overflow-y: hidden;
        transition: max-height 0.5s linear;
    } */

    .header-menu__show {
        max-height: 400px;
    }
}
