/* Product list css*/
.showcase-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    padding-right: 10px;
}

.showcase-item {
    position:relative;
    cursor: pointer;
    max-width: 200px;
}

.no-match-products {
    text-align: center;
    text-transform: uppercase;
}

.product-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.product-card-content__price {
    display: block;
}

.product-card-content__title, .product-card-content__price {
    margin-bottom: 0;
    text-align: center;
    text-transform: capitalize;
}

.product-tag__new {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
}

.product-tag__new,
.product-tag__nostock {
    text-transform: uppercase;
}

/* Product Detail CSS */
.product-detail {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
        "button button"
        "images info";
    gap: 20px;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}

.product-detail-title {
    text-transform: capitalize;
}

.product-detail__btn-back {
    grid-area: button;
    justify-self: self-start;
}

.product-detail-images {
    grid-area: images;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.product-detail-info {
    grid-area: info;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.product-detail-description {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-detail-price {
    font-size: 30px;
    font-weight: bold;
}

/*ImageShower CSS*/
.imageshower-main-image {
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    overflow-y: auto;
}

.imageshower-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
}

.imageshower-images figure {
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .showcase-list {
        grid-template-columns: repeat(auto-fit, 200px);
        justify-content: space-evenly;
        width: 100%;
    }

    .product-detail {
        grid-template-columns: 100%;
        grid-template-areas: 
            "button"
            "images"
            "info";
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .product-detail-images {
        flex-direction: column;
    }

    .imageshower-images {
        flex-direction: row;
        order:2;
    }
}