:root {
    --primary-color: palevioletred;
}

body {
    font-family: 'Josefin Sans', 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Dancing Script', 'Chewy', cursive;
    color: var(--primary-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


/* Background fruit image for header and footer with opacity 0.3*/
.background-fruits--transparent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('../images/fruit-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}

/* Class for add and asterics for requiered inputs*/
.label-input-required::after {
    content: '*';
    color: red;
    font-size: 1.2em;
    font-weight: 200;
}

.inactive {
    display: none;
}