{% extends "nutri/base.html" %}

{% load static %}
{% load nutri_tags %}

{% block page_title%}
    <title>Contacto - NutriGeoPacheco</title>
{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'nutri/css/contact_form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nutri/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nutri/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nutri/css/notifications.css' %}">
{% endblock %}

{%block body %}
    <header>
        {% header %}
    </header>
    <nav>

    </nav>
    <main>
        {% contact_form %}
    </main>
    <footer>
        {% footer_social_network %}
    </footer>

    <!-- Success and Failed Notifications -->
    <div id='contact-success'class="notification is-success inactive">
        <button class="delete"></button>
        <p>
            Muchas gracias por tu consulta.<br>
            Te responderemos a la brevedad.
        </p>
    </div>
    <div id='contact-failed' class="notification is-danger inactive">
        <button class="delete"></button>
        <p>
            Se ha producido un error.<br>
            Inténtalo de nuevo más tarde.
        </p>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'nutri/js/contact.js' %}"></script>
{% endblock %}