{% extends "nutri/base.html" %}

{% load static %}
{% load nutri_tags %}

{% block page_title%}
    <title>NutriGeoPacheco</title>
{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'nutri/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nutri/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nutri/css/index.css' %}">
{% endblock %}

{%block body %}
    <header>
        {% header OWNER %}
    </header>
    <main class='main-content'>
        <div class='main-picture'>
            <img src="{% static 'images/about.jpg' %}">
        </div>
        <div class='main-description'>
            <p>Hola! Me llamo Georgina y soy Nutricionista, nacida en Santa Fe.</p>
            <p>Tengo un hijo de 2 años que se llama Bauti, él es el amor de mi vida. 
                Lo van a ver mucho por acá, pues mamá full time. Él me acompaña, prueba 
                todas las recetas y le encantan las frutas. Fiel hijo de nutricionista, 
                vamos atravesando juntos la aventura de comer rico y sano.</p>
            <p>A lo largo de los años me fui especializando en Nutrición Clínica en 
                Adultos a través de diversas experiencias laborales y capacitaciones. 
                No hubo año que no haya hecho un curso, jornada, postgrado, maestría, 
                diplomatura. Soy muy inquieta y amo lo que hago, siempre voy por más.</p>
            <p>En estos 9 años que llevo ejerciendo, comprobé que una mala alimentación 
                afecta la calidad de vida de las personas en todos sus sentidos, más allá 
                de su salud física. Por eso, decidí trabajar en educación alimentaria. 
                Esto significa un desafío continuo, ya que no exagero si digo que en general 
                comemos mal, no conocemos la variedad de alimentos que existen, nos fijamos 
                en las calorías y no la calidad, no nos hacemos tiempo para cocinar, y puedo seguir.</p>
            <p>Con mucha complicidad y risas voy ayudando a mis pacientes. Es un desafío 
                constante que puedan atravesar cambios con naturalidad, que no sea algo 
                insostenible y pasajero, yo estoy ahí en cada paso. Lo mejor de este trabajo 
                son ellos, sin duda.</p>
            <p>Mi objetivo es ser feliz con lo que hago, y lo soy. Pero mi deseo real tiene 
                que ver con acompañarlos a ustedes en este proceso de cambio de alimentación 
                y estilo de vida saludable.</p>
            <p>Hay una familia y amigos hermosos que acompañan a la par. Hay equipo.</p>
            <p>Soy una nutri en construcción, aprendo para ustedes y con ustedes.</p>
            <p>Espero que se sumen a esta comunidad hermosa que crece día a día.</p>
            <p>Gracias!</p>
        </div>
    </main>
    <footer>
        {% footer_social_network OWNER %}
    </footer>
{% endblock %}

{% block javascript %}
    <script src="{% static 'nutri/js/header.js' %}"></script>
    <script src="{% static 'frontend/js/header_events.js'%}"></script>
{% endblock %} 