.footer-social-networks {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    padding: 0 0.5rem ;
}

.icon-social-network {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--primary-color);
    margin: 3px 5px;
    border-radius: 3px;
}

.icon-social-network i{
    display: block;
    margin: auto;
}

.icon-social-network:hover {
    color: white;
    background-color:var(--primary-color);
}

.footer-title {
    color: var(--primary-color);
    font-family: 'Caveat', 'Dancing Script', 'Chewy', cursive;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-right: 1rem;
}
