.notification {
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 100vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.appearce {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
  
    animation-name: appear;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        top: -200px;
    }
    100% {
        top: 0px;
    }
}
  
@-webkit-keyframes success {
    0% {
        top: -200px;
        }
    100% {
        top: 0px;
    }
}