{% extends "nutri/base.html" %}

{% load static %}
{% load nutri_tags %}

{% block page_title%}
    <title>Tienda - NutriGeoPacheco</title>
{% endblock %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'nutri/css/header.css' %}">
{% endblock %}

{%block body %}
  <header>
      {% header %}
  </header>
  
  <div id="app">
      <!-- React will load here -->
  </div>
{% endblock %}
{% block javascript %}
  <script src="{% static 'frontend/main.js'%}"></script>
{% endblock %}