<div class='footer-social-networks background-fruits--transparent'>
    <p class="footer-title">Lic. {{name}} {{surname}}</p>
    <a href='{{instagram_link}}' class='icon-social-network'>
        <i class='fab fa-2x fa-instagram'></i>
    </a>
    <a href='{{whatsapp_link}}' class='icon-social-network' target='_blank'>
        <i class='fab fa-2x fa-whatsapp'></i>
    </a>
    <a href="mailto:{{email}}?subject=Consulta" class='icon-social-network'>
        <i class='fa fa-lg fa-envelope'></i>
    </a>
    <a href="tel:{{cel_phone}}" class='icon-social-network'>
        <i class='fa fa-lg fa-phone'></i>
    </a>
</div>