{% load static %}
<div class='header-main'>
    <div class='header-contact background-fruits--transparent'>
        <img class="header-logo" src="{{logo}}"> 
    </div>
    <nav class="header-nav-bar">
        <div class='header-menu--mobile'>
            <span class="icon header-menu-icon--mobile">
                <i class="fas fa-bars"></i>
            </span>
            <p class='header-menu__title' >MENU</p>
        </div>
        <ul class='header-menu'>
            <li class='header-menu__item'><a class='header-menu__link' href="\">inicio</a></li>
            <li class='header-menu__item'><a class='header-menu__link' href="\tienda">tienda</a></li>
            <li class='header-menu__item'><a class='header-menu__link' href="\contact">contacto</a></li>
        </ul>
    </nav>
</div>