.main-content{
    width: 100%;
}

.main-picture {
    width: 20%;
    min-width: 200px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.main-picture img {
    width: 100%;
    border-radius: 50%;
}

.main-description {
    width: 100%;
    padding: 10px;
}

.main-description p {
    margin: 10px;
}

@media screen and (max-width: 400px) {
    .main-picture {
        float: none;
        width: 100%;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

}